.header {
	background-color: black;
	
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 15;
	top: 0;
}

.header__contein__menu {
	justify-content: space-around;
	align-items: center;
	/* padding: 20px 0; */
}